.ChatInput {
  margin: 1rem 2% 1rem 2% !important;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  }

.Input-box {
  margin: 0 auto;
  width: 100%;
  padding-top: 1rem;
}

.MuiPaper-root {
  display: grid;
  grid-template-columns: 1fr 40px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent !important;
}

.MuiIconButton-label {
  width:100%;
  min-width: 20%;
  grid-column: 2;
  margin: 0 auto;
  text-align: right;
}

.inputBar {
  width:100%;
  grid-column: 1;
  margin: 0 auto;
  padding-left: 1rem;
  background-color: #AFAFAF;
  color: rgb(255, 255, 255);
  box-shadow: inset 0 3px 3px #979797 !important;
}

.MuiSvgIcon-root {
  color: #dbdbdb !important;
  font-size: 1.2rem !important;
  
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}