html {
    font-size: 14px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

body {
    margin: 0 auto !important;
    width: 100% !important;
    border-collapse: collapse !important;
    box-sizing: border-box;
}